<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    {{ __("MODERATE") }}
    <span class="caret"></span>
</a>
<ul class="dropdown-menu">
    <li><a href="#">{{ __("MODERATESERIES") }}</a></li>
    <li><a href="#">{{ __("MODERATECOMM") }}</a></li>
    <li><a href="#">{{ __("MANAGMOD") }}</a></li>
    <li><a href="#">{{ __("MANAGBANS") }}</a></li>
</ul>
