<!-- Navigation : recherche-->
<nav class="navbar white navbar-default ct-no-margin">
    
    <div class="container-fluid">
        <div class="row row-eq-height">

            <div class="col-md-3">
                <!--navbar brand-->
                <div class="navbar-brand ct-navbar-brand" href="#page-top">
                    <img src="img/logo.png">
                    <span>
                        <p class="ct-txt-yellow ct-txt-larger">{{ __("SITENAME") }}</p>
                        <p class="ct-txt-large">{{ __("SITESUBNAME") }}</p>
                    </span>
                </div>
            </div>

            <div class="col-md-9 col-flex-centered">
               {% include "./searchbar.twig" %}
            </div>

            <div class="col-md-9 col-flex-centered">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="lang/fr" class="btn btn-primary btn-xs ct-nav-lang">fr</a>
                    </li>
                    <li>
                        <a href="lang/en" class="btn btn-primary btn-xs ct-nav-lang">en</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>

<!-- Navigation : liens-->
<nav class="navbar white navbar-default ct-no-margin">
    
    <div class="container-fluid">
    <div class="row row-eq-height">

        <!--bouton toggle -->
        <div class="col-md-12 col-flex-centered" >
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-responsive">
                    <span class="sr-only">Menu</span> Menu <i class="fa fa-bars"></i>
                </button>
            </div>
        
            <!-- Menu responsive -->
            <div class="collapse navbar-collapse" id="menu-responsive">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/home" >{{ __("HOME") }}</a>
                    </li>
                    <li>
                        <a href="/series">{{ __("SERIES") }}</a>
                    </li>
                    <li>
                        <a href="/chat">{{ __("CHAT") }}</a>
                    </li>
                    <li>
                        <a href="/contribute">{{ __("CONTRIBUTE") }}</a>
                    </li>
                    <li>
                        <a href="/profile" >{{ __("PROFILE") }}</a>
                    </li>

                    {% if user.roleId == 2 %}
                        {% include "../includes/moderate.twig" %}
                    {% elseif user.roleId == 3 %}
                        {% include "../includes/moderate.twig" %}
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
    </div>
</nav>
