{# contenu #}
{% block content %}
<div>
    <span class="h2">
        <small> {{ __("EPISODE") }} {{ episode.number }}  {{episode.title}} </small>
    </span>
    <span class="pull-right">
        {% set viewed = false %}
        {% for episodeViewed in user.episodesViewed %}
            {% if episodeViewed.toString() == episode._id.toString() %}
                {% set viewed = true %}
            {% endif %}
        {% endfor %}

        {% if followed == true %}
            <button type="button" id="{{ episode._id }}" class="btn btn-success btn-xs viewed">
                <span style="" id="button-viewed-true">&#10003; {{ __("VIEWED_TRUE") }}</span>
                <span style="display:none" id="button-viewed-false">{{ __("VIEWED_FALSE") }}</span>
            </button>
        {% else %}
            <button type="button" id="{{ episode._id }}" class="btn btn-warning btn-xs viewed">
                <span style="display:none" id="button-viewed-true">&#10003; {{ __("FVIEWED_TRUE") }}</span>
                <span id="button-viewed-false">{{ __("VIEWED_FALSE") }}</span>
            </button>
        {% endif %}
    </span>
    <p>
        {{ episode.overview }}
    </p>
</div>
{% endblock %}