{# contenu #}
{% block content %}
<div>
    <span class="h2">
        <small> {{ __("EPISODE") }} {{ episode.number }}  {{episode.title}} </small>
    </span>
    <span class="pull-right">
        {% set viewed = false %}
        {% for episodeViewed in user.episodesViewed %}
            {% if episodeViewed.toString() == episode._id.toString() %}
                {% set viewed = true %}
            {% endif %}
        {% endfor %}
        {% if viewed == true %}
                <button type="button" id="{{ episode._id }}" class="btn btn-success btn-xs viewed">&#10003; Vu</button>
            {% else %}
                <button type="button" id="{{ episode._id }}" class="btn btn-warning btn-xs viewed">Pas vu</button>
            {% endif %}
    </span>
    <p>
        {{ episode.overview }}
    </p>
</div>
{% endblock %}