{% extends "layout/layout.twig" %}

{% block content %}

    {% include "includes/navbar-unauthenticated.twig" %}
    <div class="container-fluid">
        <div class="row ct-bg-grey">
            <div class="col-md-offset-2 col-md-6">
                <h2 class="ct-txt-yellow" >
                    {{ __("REGISTRATION") }}
                </h2>
                    <form action="" method="post" encType="multipart/form-data" target="_self">
                        <div class="form-group">
                            <label class="ct-txt-white" for="firstname">{{ __("FIRSTNAME") }}</label>
                            <input type="text" name="firstname" id="firstname" placeholder="{{ __("FIRSTNAME") }}" required>
                        </div>
                        <div class="form-group">
                            <label class="ct-txt-white" for="lastname">{{ __("LASTNAME") }}</label>
                            <input type="text" name="lastname" id="lastname" placeholder="{{ __("LASTNAME") }}" required>
                        </div>
                        <div class="form-group">
                            <label class="ct-txt-white" for="pseudo">{{ __("PSEUDO") }}</label>
                            <input type="text" name="pseudo" id="pseudo" placeholder="{{ __("PSEUDO") }}" required>
                        </div>
                        <div class="form-group">
                            <label class="ct-txt-white" for="birthday">{{ __("BDAY") }}</label>
                            <input type="date" name="birthday" id="birthday" placeholder="{{ __("BDAY") }}" required>
                        </div>
                        <div class="form-group">
                            <label class="ct-txt-white" for="mail">{{ __("MAIL") }}</label>
                            <input type="email" name="mail" id="mail" placeholder="{{ __("MAIL") }}" required>
                        </div>
                        <div class="form-group">
                            <label class="ct-txt-white" for="pass">{{ __("PASSWORD") }}</label>
                            <input type="password" name="password" id="password" placeholder="{{ __("PASSWORD") }}" required>
                        </div>
                        <div class="form-group">
                            <label class="ct-txt-white" for="passConf">{{ __("PASSWORD_CONF") }}</label>
                            <input type="password" name="passwordConf" id="passwordConf" placeholder="{{ __("PASSWORD_CONF") }}" required>
                        </div>
                        <div class="form-group">
                            <label class="ct-txt-white" for="langId">{{ __("LANG") }}</label>
                            <select name="langId" id="langId">
                                <option value="1">{{ __("LANG_FR") }}</option>
                                <option value="2">{{ __("LANG_EN") }}</option>
                            </select>
                        </div>
                        <input type="submit" value="{{ __("REGISTER") }}">
                    </form>

            </div>
        </div>
    </div>
{% endblock %}