{% extends "layout/layout.twig" %}

{# scripts #}
{% block header %}
    <script src="js/series.js"></script>
{% endblock %}

{# contenu #}
{% block content %}

<!-- content section -->
<section>
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h2 class="ct-txt-yellow" >
                  {{ __("SERIES_LIST") }}
                </h2>
            </div>
        </div>

        {# Starting loop on series #}
        {% for serie in data.series %}

            {# open row on first item#}
            {% if loop.first %}
                <div class="row"><div class="col-md-1"></div>
            {% endif %}

            {# add series posters && datas #}
            <div class="col-md-2">

                {# Big screens : poster only#}
                <div class="poster hidden-sm">
                    {# poster #}
                    <img src="{{ serie.poster ? serie.poster : defaultPoster }}" alt="{{serie.title}}" title="{{ serie.title }}" onClick="expandPanel({{ loop.index}})" class="w150" id="poster-{{loop.index}}"/>
                
                    {# title if no poster #}
                    {% if serie.poster == null %}
                        <p class="title">{{ serie.title}}</p>
                    {% endif %}
                </div>

                {# small screens : poster & data #}
                <div class="row visible-sm" id="data-{{loop.index}}">
                    
                    {# poster #}
                    <div class="col-sm-4 poster text-center">
                        <a href="/series/{{serie._id}}">
                            <img src="{{ serie.poster ? serie.poster : defaultPoster }}" alt="{{serie.title}}" title="{{ serie.title }}"  class="w150"/>
                        

                            {# title if no poster #}
                            {% if serie.poster == null %}
                                <p class="title">{{ serie.title}}</p>
                            {% endif %}

                       </a>
                    </div>

                    <div class="col-sm-7">
                        <p class="data-title">{{ serie.title }}</p>
                        <p class="data-overview">{{ serie.overview }}</p>
                        <p class="data-link"><a href="/series/{{serie._id}}">{{ __("DETAILS")}}</a></p>

                    </div>

                </div>
            </div>

            {% if loop.index % 5 == 0 %}
                </div>
            {% endif %}

            {# close row on last loop #}
            {% if loop.last %}
                </div>
            {# open new row#}
            {% elseif loop.index % 5 == 0 %}
                <div class="row"><div class="col-md-1"></div>
            {% endif %}

        {% endfor %}
        
    </div>
</section>

<!-- pages -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% for page in 1..data.pages %}
                    <a href="{{currentUrl}}p={{page}}">{{page}}</a>, 
                {% endfor %}
            </div>
        </div>
    </div>
</section>
 
<!-- panel -->
<section id="panel">
    <div class="container-fluid">
        <div class="row ct-bg-grey">

            <div class="col-md-1"></div>

            <div class="col-md-2">
                <img src="" alt="" title="" id="panel-poster" class="w150"/>
            </div>

            <div class="col-md-6 ct-bg-grey">
                <p id="panel-title" class="ct-txt-yellow"></p>
                <p id="panel-overview" class="ct-txt-white"></p>
                <p id="panel-link">
                    <a href="" class="ct-to-left ct-ml-1" id="panel-details">{{ __("DETAILS")}}</a>

                    <a href="#" class="ct-to-right ct-mr-1" onClick="closePanel(event)">{{ __("CLOSE")}}</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
