{% extends "layout/layout.twig" %}

{# scripts #}
{% block header %}
    <script src="js/series.js"></script>
{% endblock %}

{# contenu #}
{% block content %}

<!-- content section -->
<section>
     <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h2 class="ct-txt-yellow" >
                  {{ __("SERIES_LIST") }}
                </h2>
            </div>
        </div>

        {# Starting loop on series #}
        {% for serie in data.series %}

            {# open row on first item#}
            {% if loop.first %}
                <div class="row"><div class="col-md-1"></div>
            {% endif %}

            {# add series posters && datas #}
            <div class="col-md-2">

                {# poster #}
                <a href="#modal_panel" data-toggle="modal">
                    <img src="{{ serie.poster }}" alt="{{serie.title}}" title="{{ serie.title }}" onClick="expandPanel({{ loop.index}})" class="w150" id="poster-{{loop.index}}"/>
                </a>
                
                {# title if no poster #}
                {% if serie.poster == null %}
                    <p>{{ serie.title}}</p>
                {% endif %}

                {# data #}
                <div class="hidden" id="data-{{loop.index}}">
                    <p class="data-title">{{ serie.title }}</p>
                    <p class="data-overview">{{ serie.overview }}</p>
                </div>
            </div>

            {# add expandable row & open new row#}
            {% if loop.index % 5 == 0 %}
                
                {# close row#}
                </div>
                
            {% endif %}

            {# close row on last loop #}
            {% if loop.last %}
                </div>
            {# open new row#}
            {% elseif loop.index % 5 == 0 %}
                <div class="row"><div class="col-md-1"></div>
            {% endif %}

        {% endfor %}
        
    </div>
</section>

<!-- pages -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% for page in 1..data.pages %}
                    <a href="{{currentUrl}}&p={{page}}">{{page}}</a>, 
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- modal de connection -->
<div class="modal fade" id="modal_panel" tabindex="-1" role="dialog" aria-hidden="true">   
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row">       
                <div class="col-md-1"></div>
                    
                <div class="col-md-2">
                    <img src="" alt="" title="" id="panel-poster" class="w150" />
                </div>
                
                <div class="col-md-6">
                    <h3 id="panel-title"></h3>
                    <p id="panel-overview"></p>
                </div>
            <div class="row">
        </div>
    </div>
</div>
 
{% endblock %}
