{% extends "layout/layout.twig" %}

{# scripts #}
{% block header %}
    <script src="js/serie.js"></script>
    <link href="css/style.css" rel="stylesheet">
{% endblock %}

{# contenu #}
{% block content %}
    <div class="container-fluid">
        <div class ="row">
            <div class="media serie">
                <div class="media-left">
                    <img class="" src="{{ serie.poster }}" alt="{{ serie.title }}"></img>
                </div>
                <div class="media-body">
                    <div class="media-heading h1 serie-title">{{ serie.title }}</div>
                    <p>{{ serie.overview }}</p>
                </div>
            </div>
        </div>

        {% set seasons = [] %}

        {% for episode in serie.episodes %}
            {% if episode.season not in seasons %}
                {% set seasons = seasons|merge([episode.season]) %}
            {% endif %}
        {% endfor %}

        <div class="row">
        {% for season in seasons %}
            <div class="season">
                <div class="h2">{{ __("SEASON") }} {{ season }}</div>
                {% for episode in serie.episodes if episode.season == season %}
                    <div class="episode">{% include 'episode.twig' %}</div>
                {% endfor %}
            </div>
        {% endfor %}
        </div>

    </div>
{% endblock %}