{% extends "layout/layout.twig" %}

{% block content %}

    <div class="container-fluid">
        <div class="row ct-bg-grey">
            <div class="col-md-offset-2 col-md-6">
                <h2 class="ct-txt-yellow" >
                    {{ __("PROFILMODIFICATION") }}
                </h2>
                <div id="msg">{{ msg }}</div>
                <p class="ct-txt-white">(*) {{ __("REQUIREDFIELDS") }}</p>
                <form action="" id="registrationForm7" method="post" encType="multipart/form-data">
                    <div class="form-group">
                        <label class="ct-txt-white" for="firstname">{{ __("FIRSTNAME") }} * : </label>
                        <input type="text" name="value" class="form-control" id="firstname" placeholder="{{ __("FIRSTNAME") }}" minlength="3" maxlength="20" value="{{ user.firstname }}" required>
                    </div>
                    <input type="hidden" name="change" value="firstname">
                    <input type="hidden" name="userId" value="{{ user._id }}">
                    <input class="btn" type="submit" value="{{ __("CHANGEFIRSTNAME") }}">
                </form>
                <hr>
                <form action="" id="registrationForm6" method="post" encType="multipart/form-data">
                    <div class="form-group">
                        <label class="ct-txt-white" for="lastname">{{ __("LASTNAME") }} * : </label>
                        <input type="text" name="value" class="form-control" id="lastname" placeholder="{{ __("LASTNAME") }}" minlength="3" maxlength="20" value="{{ user.lastname }}" required>
                    </div>
                <input type="hidden" name="change" value="lastname">
                    <input type="hidden" name="userId" value="{{ user._id }}">
                <input class="btn" type="submit" value="{{ __("CHANGELASTNAME") }}">
                </form>
                <hr>
                <form action="" id="registrationForm5" method="post" encType="multipart/form-data">
                    <div class="form-group">
                        <label class="ct-txt-white" for="pseudo">{{ __("PSEUDO") }} * : </label>
                        <input type="text" name="value" class="form-control" id="pseudo" placeholder="{{ __("PSEUDO") }}" minlength="3" maxlength="20" value="{{ user.pseudo }}" required>
                    </div>
                    <input type="hidden" name="change" value="pseudo">
                    <input type="hidden" name="userId" value="{{ user._id }}">
                    <input class="btn" type="submit" value="{{ __("CHANGEPSEUDO") }}">
                </form>
                <hr>
                <form action="" id="registrationForm4" method="post" encType="multipart/form-data">
                    <div class="form-group">
                        <label class="ct-txt-white" for="birthday">{{ __("BDAY") }} * : </label>
                        <div class="input-group date" id="datetimepicker">
                            <input type="text" name="value" class="form-control" id="birthday" placeholder="jj/mm/aaaa" required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                    <input type="hidden" name="change" value="birthday">
                    <input type="hidden" name="userId" value="{{ user._id }}">
                    <input class="btn" type="submit" value="{{ __("CHANGEBIRTHDAY") }}">
                </form>
                <hr>
                <form action="" id="registrationForm3" method="post" encType="multipart/form-data">
                    <div class="form-group">
                        <label class="ct-txt-white" for="mail">{{ __("MAIL") }} * : </label>
                        <input type="email" name="value" class="form-control" id="mail" placeholder="{{ __("MAIL") }}" value="{{ user.mail }}" required>
                    </div>
                    <input type="hidden" name="change" value="mail">
                    <input type="hidden" name="userId" value="{{ user._id }}">
                    <input class="btn" type="submit" value="{{ __("CHANGEMAIL") }}">
                </form>
                <hr>
                <form action="" id="registrationForm2" method="post" encType="multipart/form-data">
                    <div class="form-group">
                        <label class="ct-txt-white" for="avatar">{{ __("AVATAR") }} * : </label><br/>
                        {% if user.avatar %}<img src="avatars/{{ user.avatar }}" width="150px" />{% endif %}
                        <input type="file" name="avatar" class="form-control" id="avatar" placeholder="{{ __("AVATAR") }}" required>
                    </div>
                    <input type="hidden" name="change" value="avatar">
                    <input type="hidden" name="userId" value="{{ user._id }}">
                    <input class="btn" type="submit" value="{{ __("CHANGEAVATAR") }}">
                </form>
                <hr>
                <form action="" id="registrationForm" method="post" encType="multipart/form-data">
                    <div class="form-group">
                        <label class="ct-txt-white" for="pass">{{ __("PASSWORD") }} * : </label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="{{ __("PASSWORD") }}" minlength="3" maxlength="20" required>
                    </div>
                    <div class="form-group">
                        <label class="ct-txt-white" for="passConf">{{ __("PASSWORD_CONF") }} * : </label>
                        <input type="password" name="passwordConf" class="form-control" id="passwordConf" placeholder="{{ __("PASSWORD_CONF") }}" minlength="3" maxlength="20" required>
                    </div>
                    <div id="passCheck" class="ct-txt-red" ><p>{{ __("PASSMUSTBEEQUAL") }}</p></div>
                    <input type="hidden" name="change" value="password">
                    <input type="hidden" name="userId" value="{{ user._id }}">
                    <input class="btn" type="submit" value="{{ __("CHANGEPASSWORD") }}">
                </form>
                <hr>
                <form action="" id="registrationForm1" method="post" encType="multipart/form-data">
                    <div class="form-group">
                        <label class="ct-txt-white" for="langId">{{ __("LANG") }} : </label>
                        <select name="value" class="form-control" id="langId">
                            <option value=1 {% if user.langId == 1 %}selected{% endif %}>{{ __("LANG_FR") }}</option>
                            <option value=2 {% if user.langId == 2 %}selected{% endif %}>{{ __("LANG_EN") }}</option>
                        </select>
                    </div>
                    <input type="hidden" name="change" value="langId">
                    <input type="hidden" name="userId" value="{{ user._id }}">
                    <input class="btn" type="submit" value="{{ __("CHANGELANG") }}">
                </form>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/passCheck.js"></script>
    <script type="text/javascript">
        //get birthday and locale
        var birthday = "";
        var locale = "";
        $.ajax({
            url : '/api/user/data',
            type : 'GET',
            success: function(data) {
                if(data.birthday){
                    birthday = data.birthday;
                    locale = data.locale;
                    //format datepicker plugin
                    $(function () {
                        $("#datetimepicker").datetimepicker({
                            defaultDate: birthday,
                            locale: locale,
                            viewMode: 'years',
                            format: "DD/MM/YYYY"
                        });
                    });
                }
            },
            error: error => {
                console.log('birthday error');
            }
        });

        //format datepicker plugin
//        $(function () {
//            $("#datetimepicker").datetimepicker({
//                viewMode: 'years',
//                format: "DD/MM/YYYY"
//            });
//        });
    </script>

{% endblock %}